button {
  background-color: rgb(26, 91, 112);
  border-radius: 3px;
  border: 0;
  box-shadow: 2px 2px rgb(127, 155, 180);
  color: white;
  font-weight: bold;
  height: 2rem;
  margin-right: .25rem;
  text-align-last: center;
  padding: 0;
  width: 5rem;
}
